# Trabalhando com Snapshots e Time Travel
### Snapshots (Instantâneos)
O Snapshot é uma "fotografia" imutável do estado do sistema de dados em um ponto específico no tempo.

**O que é:** Uma cópia lógica e instantânea dos dados e metadados. Diferente de um backup tradicional que copia todos os dados, um snapshot frequentemente armazena apenas os ponteiros para os dados originais e registra as alterações subsequentes (técnica copy-on-write).

**Propósito:** Serve como um ponto de restauração rápido e eficiente. Permite que o sistema retorne a um estado conhecido e consistente em caso de erro, corrupção de dados ou falha.

**Característica Chave:** É um registro do estado em um momento exato.

### Time Travel (Viagem no Tempo)
O Time Travel é a capacidade de consultar ou restaurar dados de qualquer um dos Snapshots disponíveis em um período de retenção predefinido.

**O que é:** Um mecanismo que aproveita os Snapshots (ou o histórico de alterações) para permitir que os usuários executem consultas em versões antigas dos dados, como se estivessem "viajando no tempo".

**Propósito:**

**Análise:** Consultar dados históricos para relatórios de fim de período ou auditoria.

**Recuperação Granular:** Restaurar apenas uma tabela, um esquema, ou até mesmo dados excluídos/modificados acidentalmente, sem precisar restaurar o banco de dados inteiro.

**Debugging:** Rastrear a evolução dos dados e entender quando e como uma modificação específica ocorreu.

**Característica Chave:** É a funcionalidade que usa os Snapshots para acessar o histórico de dados.

1. Configuração do Spark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/opt/spark-3.3.0-bin-hadoop3"

import findspark
findspark.init('/opt/spark-3.3.0-bin-hadoop3')

from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, col
from datetime import datetime, timedelta

# Sessão Spark
spark = SparkSession.builder \
    .appName("IcebergWithSpark") \
    .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
    .config("spark.sql.catalog.hadoop_catalog", "org.apache.iceberg.spark.SparkCatalog") \
    .config("spark.sql.catalog.hadoop_catalog.type", "hadoop") \
    .config("spark.sql.catalog.hadoop_catalog.warehouse", "/home/tavares/warehouse") \
    .config("spark.sql.default.catalog", "hadoop_catalog") \
    .getOrCreate()

2. Criando a tabela de vendas usando Iceberg

In [ ]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS hadoop_catalog.default.vendas (
        id INT,
        produto STRING,
        quantidade INT,
        preco DOUBLE,
        data_venda DATE
    )
    USING iceberg
""")

DataFrame[]

3. Inserir dados usando SQL

In [ ]:
spark.sql("""
    INSERT INTO hadoop_catalog.default.vendas VALUES
    (1, 'Produto A', 10, 15.5, DATE('2023-11-01')),
    (2, 'Produto B', 5, 22.0, DATE('2023-11-02')),
    (3, 'Produto C', 8, 30.0, DATE('2023-11-03'))
""")

DataFrame[]

4. Visualização dos dados

In [ ]:
spark.sql("SELECT * FROM hadoop_catalog.default.vendas").show()

+---+---------+----------+-----+----------+
| id|  produto|quantidade|preco|data_venda|
+---+---------+----------+-----+----------+
|  1|Produto A|        10| 15.5|2023-11-01|
|  2|Produto B|         5| 22.0|2023-11-02|
|  3|Produto C|         8| 30.0|2023-11-03|
+---+---------+----------+-----+----------+

5. Lista de snapshots atuais da tabela vendas

In [ ]:
spark.sql("SELECT snapshot_id, committed_at, operation FROM hadoop_catalog.default.vendas.snapshots").show(truncate=False)

+-------------------+-----------------------+---------+
|snapshot_id        |committed_at           |operation|
+-------------------+-----------------------+---------+
|5100972200523424556|2025-11-02 19:23:33.734|append   |
+-------------------+-----------------------+---------+

6. Incluimos mais dados

In [ ]:
spark.sql("""
    INSERT INTO hadoop_catalog.default.vendas VALUES
    (4, 'Produto D', 12, 25.0, DATE('2023-11-04')),
    (5, 'Produto E', 7, 18.5, DATE('2023-11-05'))
""")

DataFrame[]

7. Visualização dos dados

In [ ]:
spark.sql("SELECT * FROM hadoop_catalog.default.vendas order by id").show()

+---+---------+----------+-----+----------+
| id|  produto|quantidade|preco|data_venda|
+---+---------+----------+-----+----------+
|  1|Produto A|        10| 15.5|2023-11-01|
|  2|Produto B|         5| 22.0|2023-11-02|
|  3|Produto C|         8| 30.0|2023-11-03|
|  4|Produto D|        12| 25.0|2023-11-04|
|  5|Produto E|         7| 18.5|2023-11-05|
+---+---------+----------+-----+----------+

8. Agora temos dois snapshots

In [ ]:
spark.sql("SELECT snapshot_id, committed_at, operation FROM hadoop_catalog.default.vendas.snapshots").show(truncate=False)

+-------------------+-----------------------+---------+
|snapshot_id        |committed_at           |operation|
+-------------------+-----------------------+---------+
|5100972200523424556|2025-11-02 19:23:33.734|append   |
|7295434045239260225|2025-11-02 19:23:41.229|append   |
+-------------------+-----------------------+---------+

9. Vamos fazer uma atualização nos dados

In [ ]:
spark.sql("""
    UPDATE hadoop_catalog.default.vendas 
    SET preco = preco * 1.1 
    WHERE id IN (1, 2)
""")

DataFrame[]

10. Visualizar dados após update

In [ ]:
spark.sql("SELECT * FROM hadoop_catalog.default.vendas order by id").show()

+---+---------+----------+------------------+----------+
| id|  produto|quantidade|             preco|data_venda|
+---+---------+----------+------------------+----------+
|  1|Produto A|        10|             17.05|2023-11-01|
|  2|Produto B|         5|24.200000000000003|2023-11-02|
|  3|Produto C|         8|              30.0|2023-11-03|
|  4|Produto D|        12|              25.0|2023-11-04|
|  5|Produto E|         7|              18.5|2023-11-05|
+---+---------+----------+------------------+----------+

11. Ver todos os snapshots

In [ ]:
spark.sql("SELECT snapshot_id, committed_at, operation FROM hadoop_catalog.default.vendas.snapshots").show(truncate=False)

+-------------------+-----------------------+---------+
|snapshot_id        |committed_at           |operation|
+-------------------+-----------------------+---------+
|5100972200523424556|2025-11-02 19:23:33.734|append   |
|7295434045239260225|2025-11-02 19:23:41.229|append   |
|655517064564772829 |2025-11-02 19:23:51.988|overwrite|
+-------------------+-----------------------+---------+

12. Time Travel - consultar dados de um snapshot específico
- Primeiro, vamos pegar o ID do primeiro snapshot

In [ ]:
snapshots = spark.sql("SELECT snapshot_id FROM hadoop_catalog.default.vendas.snapshots ORDER BY committed_at")
first_snapshot = snapshots.collect()[0][0]
print(f"Primeiro snapshot ID: {first_snapshot}")

Primeiro snapshot ID: 5100972200523424556
+---+---------+----------+-----+----------+
| id|  produto|quantidade|preco|data_venda|
+---+---------+----------+-----+----------+
|  1|Produto A|        10| 15.5|2023-11-01|
|  2|Produto B|         5| 22.0|2023-11-02|
|  3|Produto C|         8| 30.0|2023-11-03|
+---+---------+----------+-----+----------+

- Consultar dados do primeiro snapshot

In [ ]:
spark.sql(f"""
    SELECT * FROM hadoop_catalog.default.vendas 
    VERSION AS OF {first_snapshot}
    ORDER BY id
""").show()

13. Histórico de mudanças na tabela

In [ ]:
spark.sql("SELECT * FROM hadoop_catalog.default.vendas.history").show(truncate=False)

14. Informações sobre arquivos da tabela

In [ ]:
spark.sql("SELECT file_path, file_format, record_count FROM hadoop_catalog.default.vendas.files").show(truncate=False)